<h1 *ngIf="!data.update" mat-dialog-title>Add Activity</h1>
<h1 *ngIf="data.update" mat-dialog-title>Update Activity</h1>

<mat-dialog-content [formGroup]="activityFormGroup">
  <mat-vertical-stepper formArrayName="activityFormArray" [linear]="false">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step formGroupName="0" [stepControl]="activityFormArray?.get([0])!">
      <ng-template matStepLabel>What?</ng-template>
      <div class="what-container">
        <button mat-icon-button class="choose-icon" (click)="toggleEmojiPicker()">
            <input matInput formControlName="icon" required>
        </button>
        <mat-form-field class="activity-name">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
      </div>

      <emoji-mart *ngIf="showEmojis"
        [darkMode]="emojiPicker.darkMode"
        [isNative]="emojiPicker.native"
        [hideRecent]="false"
        (emojiSelect)="handleEmoji($event)"
        [showPreview]="false"
      >
      </emoji-mart>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="activityFormArray?.get([1])!">
      <ng-template matStepLabel>How?</ng-template>
        <form name="how">
          <mat-label>How long?</mat-label>
          <div>
            <ngb-timepicker name="time" [(ngModel)]="time" required></ngb-timepicker>
          </div>
          <mat-label>How often?</mat-label>
          <div>
            <input class="frequency" min="1" name="frequency" type="number" [(ngModel)]="frequency" required/>
            <span *ngIf="frequency === 1">time per week</span>
            <span *ngIf="frequency > 1">times per week</span>
          </div>
        </form>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="activityFormArray?.get([2])!">
      <ng-template matStepLabel>When?</ng-template>
      <mat-form-field>
        <mat-label>Day Preference
          <span *ngIf="noDayPreference()"> - None</span>
        </mat-label>
        <mat-select multiple name="days" formControlName="dayPreference">
          <mat-option *ngFor="let day of days" [value]="day.name">
            {{ day.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Time Preference
          <span *ngIf="noTimePreference()"> - None</span>
        </mat-label>
        <mat-select multiple name="time" formControlName="timePreference">
          <mat-option *ngFor="let time of dayTimes" [value]="time.name">
            {{ time.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>
  </mat-vertical-stepper>
</mat-dialog-content>

<mat-dialog-actions>
  <button *ngIf="!data.update" mat-button (click)="onCancel()">Cancel</button>
  <button *ngIf="!data.update" mat-button (click)="onCreate(false)" [disabled]="!activityFormGroup.valid">Create</button>
  <button *ngIf="!data.update" mat-button (click)="onCreate(true)" [disabled]="!activityFormGroup.valid">
    Create <mat-icon class="plus-icon" color="primary">add_circle</mat-icon>
  </button>
  <button *ngIf="data.update" mat-button (click)="onUpdate()"
  [disabled]="!activityFormGroup.valid" cdkFocusInitial>Update</button>
  <app-delete-buttton *ngIf="data.update" (delete)="onDelete()"></app-delete-buttton>
</mat-dialog-actions>
