<input mat-dialog-title [ngStyle]="{
  'background-color': data.activityInstance.color!.secondaryColor,
  'border': '2px solid ' + data.activityInstance.color!.primaryColor,
  'color': data.activityInstance.color!.isLight ? 'black' : 'white'
  }" class="title" type='text' name='name' [(ngModel)]="data.activityInstance.title" (click)="toggleEmojiPicker()"/>

  <emoji-mart *ngIf="showEmojis"
  [darkMode]="emojiPicker.darkMode"
  [isNative]="emojiPicker.native"
  [hideRecent]="false"
  (emojiSelect)="handleEmoji($event)"
  [showPreview]="false"
>
</emoji-mart>

<div class="content" mat-dialog-content>
    <div class="colors-container">
        <span class="color-dot" *ngFor="let color of colors" (click)="onSelect(color)"
          [ngStyle]="{
            'background-color': color.secondaryColor,
            'border': color.secondaryColor === data.activityInstance.color!.secondaryColor ? '2px solid ' + color.primaryColor : ''
            }">
        </span>
      </div>

      <div class="timepicker">
          From:
        <ngb-timepicker [meridian]=true name="concreteTimeStart" [(ngModel)]="startTime"></ngb-timepicker>
      </div>
      <div class="timepicker">
          To:
        <ngb-timepicker [meridian]=true name="concreteTimeEnd" [(ngModel)]="endTime"></ngb-timepicker>
      </div>
</div>

<mat-dialog-actions>
    <button *ngIf="!data.create" mat-button (click)="onUpdate(false)" cdkFocusInitial>Update</button>
    <button *ngIf="data.create" mat-button (click)="onUpdate(false)" cdkFocusInitial>Save</button>
    <app-delete-buttton *ngIf="!data.create" (delete)="onUpdate(true)"></app-delete-buttton>
</mat-dialog-actions>
